@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.packageRegistrationForm {
  .sectionHeader {
    margin: 2rem 0;
  }

  .formGroup {
    margin-bottom: 1.5rem;
  }

  .reviewDonationDetails {
    margin-bottom: 1.5rem;
  }

  .packageContentItems {
    margin-bottom: 3rem;

    > * + * {
      margin-top: 1.5rem;
    }
  }

  .confirmPackageDetailsBtn {
    margin: 2rem 0rem 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > * + * {
      margin-left: 0.5rem;
    }
  }
}
