@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.packageRegistrationForm {
  $form-group-margin-bottom: 1rem;

  .sectionHeader {
    margin: 2rem 0;
  }

  .formGroup {
    margin-bottom: $form-group-margin-bottom;
  }

  .packageContentItems {
    > * + * {
      margin-top: 2rem;
    }
  }

  .confirmPackageDetailsBtn {
    margin: 2rem 0rem 0rem;
    width: 100%;
  }
}
