@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .paginationArrowBtn {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
