@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.cartSidebar {
  width: 500px;

  .title {
    font-size: 2rem;
  }

  .body {
    padding-bottom: 0;
  }

  .cartGroup {
    margin-bottom: 2rem;
  }

  .cartGroupItems {
    > * + * {
      margin-top: 1rem;
    }
  }

  .cartFooter {
    padding: 1rem 0;
    position: sticky;
    bottom: 0;
    background-color: $cart-sidebar-bg-color;

    .proceedButton {
      width: 100%;
    }
  }
}
