.cart {
  width: 500px;

  .title {
    font-size: 2rem;
  }

  .cartGroup {
    margin-bottom: 3rem;
  }

  .cartGroupItems {
    > * + * {
      margin-top: 1rem;
    }
  }

  .registerPackageButton {
    margin-top: 2rem;
    width: 100%;
  }
}
