@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.packageStatus {
  max-width: $package-status-max-width;
  width: 100%;
  margin: 1rem auto 1rem;

  .successAlert {
    margin-bottom: 2rem;

    .body {
      > * + * {
        margin-top: 1rem;
      }
    }

    .donateButton {
      display: flex;
      align-items: center;
    }
  }

  .header {
    text-align: center;
    margin-bottom: 2rem;
  }

  .sectionHeader {
    margin: 2rem 0;
    text-align: center;
  }

  .packageDetails {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 2rem;
    word-break: break-word;
  }

  .packageStatusVisualization {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .taxDeductionBlock {
    margin-top: 3rem;
  }

  .seeTaxDeductionReceiptBtn {
    margin-top: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }

  .organizationLink {
    word-break: break-word;
  }

  .noteBlock {
    margin-top: 3rem;

    .noteTextarea {
      height: 7rem;
    }

    .submitNoteBtn {
      margin: 1rem 0rem 0rem;
      display: flex;
      justify-content: center;
      align-items: center;

      > * + * {
        margin-left: 0.5rem;
      }
    }
  }

  .blogPosts {
    > * + * {
      margin-top: 1rem;
    }
  }
}
