@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.profile {
  .header {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }

  .profileForm {
    max-width: 650px;
    margin-bottom: 3rem;
  }

  .formGroup {
    margin-bottom: 1.5rem;
  }

  .confirmDetailsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    > * + * {
      margin-left: 0.5rem;
    }
  }
}
