.products {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;

  .productsContainer {
    margin-top: 1.2rem;
    transition: opacity 125ms ease-out;
  }

  .productsContainerLoading {
    opacity: 0.4;
    pointer-events: none;
  }

  .showMoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .noProductsMessage {
    margin: 2rem;
    text-align: center;
  }
}
