@import 'styles/_variables';

.organizationDetails {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: $organization-details-background-color;

  > * + * {
    margin-top: 2rem;
  }

  .photo {
    display: block;
    position: relative;
    width: 200px;
    height: 150px;
  }

  .link {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1.5rem;
    word-break: break-word;

    > * {
      margin: 0;
      line-height: 2rem;
    }
  }
}

.taxDeductionFormLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  color: $tax-deduction-form-link-color;
  text-align: center;
  background-color: $tax-deduction-form-link-background;

  > * + * {
    margin-left: 0.5rem;
  }

  &:hover {
    color: $tax-deduction-form-link-hover-color;
    text-decoration: underline;
  }
}
