@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.reviewDonationDetails {
  word-break: break-word;

  .body {
    margin: 0;

    > * + * {
      margin-top: 0.5rem;
    }
  }

  .editButton {
    display: inline-flex;
  }
}
