@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.confirmAccount {
  .header {
    margin-bottom: 2rem;
    text-align: center;
  }

  .content {
    max-width: $confirm-account-max-width;
    margin: 0 auto;
  }

  .loadingMessage {
    justify-content: center;
  }
}
