@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.accountFormContainer {
  .header {
    margin-bottom: 2rem;
    text-align: center;
  }

  .form {
    margin: 0 auto;
    max-width: 400px;
  }

  .formGroup {
    margin-bottom: 1.5rem;
  }

  .showPasswordBtn {
    border-color: $cart-item-remove-button-border-color;

    &:hover,
    &:active {
      border-color: $cart-item-remove-button-hover-border-color;
    }

    &.withFeedback {
      border-left-color: transparent;
    }
  }

  .submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 3rem;
    width: 100%;

    > * + * {
      margin-left: 0.5rem;
    }
  }
}

.registrationSuccessContainer {
  margin: 0 auto;
  max-width: 500px;

  .header {
    margin-bottom: 2rem;
    text-align: center;
  }

  .dismissBtn {
    display: block;
    margin: 4rem auto;
  }
}
