@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.howItWorks {
  .banner {
    position: relative;
    padding: 3.5rem 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media-breakpoint-down(md) {
      padding: 8rem 1rem;
    }

    .header {
      font-size: 4rem;
      margin-bottom: 2rem;
      line-height: 1.1;

      .highlightedHeader {
        text-decoration: underline;
        text-decoration-color: $about-us-highlighted-header-underline-color;
        text-decoration-thickness: from-font;
      }

      @include media-breakpoint-down(xl) {
        font-size: 3rem;
      }

      @include media-breakpoint-down(lg) {
        font-size: 2.2rem;
      }

      @include media-breakpoint-down(md) {
        font-size: 2.5rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 1.8rem;
      }
    }

    .image {
      position: absolute;
    }

    .imageBoyLooksRight {
      $width: 58px;
      $height: 132px;

      width: $width;
      height: $height;
      top: 1rem;
      right: calc(50% + 492px);

      @include media-breakpoint-down(xl) {
        right: calc(50% + 380px);
      }

      @include media-breakpoint-down(lg) {
        right: calc(50% + 320px);
      }

      @include media-breakpoint-down(md) {
        width: $width * 0.7;
        height: $height * 0.7;
        top: unset;
        bottom: 2rem;
        right: calc(50% + 42px);
      }
    }

    .imageGirlRunsRight {
      $width: 117px;
      $height: 145px;

      width: $width;
      height: $height;
      top: 7rem;
      right: calc(50% + 382px);

      @include media-breakpoint-down(xl) {
        right: calc(50% + 290px);
      }

      @include media-breakpoint-down(lg) {
        top: 5rem;
        right: calc(50% + 214px);
      }

      @include media-breakpoint-down(md) {
        width: $width * 0.7;
        height: $height * 0.7;
        top: 0.6rem;
        right: calc(50% + 32px);
      }
    }

    .imageGirlLooksLeft {
      $width: 74px;
      $height: 137px;

      width: $width;
      height: $height;
      top: 1rem;
      left: calc(50% + 473px);

      @include media-breakpoint-down(xl) {
        left: calc(50% + 390px);
      }

      @include media-breakpoint-down(lg) {
        left: calc(50% + 310px);
      }

      @include media-breakpoint-down(md) {
        width: $width * 0.7;
        height: $height * 0.7;
        top: 0.5rem;
        left: calc(50% + 40px);
      }
    }

    .imageBoyRunsLeft {
      $width: 116px;
      $height: 138px;

      width: $width;
      height: $height;
      top: 8rem;
      left: calc(50% + 363px);

      @include media-breakpoint-down(xl) {
        left: calc(50% + 275px);
      }

      @include media-breakpoint-down(lg) {
        top: 6rem;
        left: calc(50% + 197px);
      }

      @include media-breakpoint-down(md) {
        width: $width * 0.7;
        height: $height * 0.7;
        top: unset;
        bottom: 1.5rem;
        left: calc(50% + 27px);
      }
    }
  }
}

.aboutPlatform {
  max-width: 900px;
  margin: 0 auto 1rem;
  font-size: 1rem;
  text-align: center;

  @include media-breakpoint-down(lg) {
    font-size: 1.1rem;
  }

  @include media-breakpoint-between(sm, xl) {
    padding: 0 4rem;
  }

  .checkGoodsButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 1rem auto 3rem;
    line-height: 1.1;
  }

  .header {
    margin: 2rem 0;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .accentedText {
    margin: 2rem 0;
    font-size: 1.2rem;
    text-align: center;

    .highlighted {
      text-decoration: underline;
      text-decoration-color: $about-us-highlighted-header-underline-color;
      text-decoration-thickness: 3px;
    }
  }

  .teamCard {
    display: block;
    border: 1px solid $team-card-border-color;
    background-color: $team-card-bg-color;
    color: $team-card-color;
    margin-top: 1.6rem;
    max-width: 280px;

    @include media-breakpoint-down(sm) {
      margin-right: auto;
      margin-left: auto;
    }

    .memberImg {
      max-width: 100%;
      border-bottom: 1px solid $team-card-border-color;
    }

    .memberBody {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      font-size: 1rem;
      height: 50px;

      @include media-breakpoint-down(lg) {
        font-size: 0.9rem;
      }
    }

    .memberName {
      line-height: 1;
    }
  }
}
