@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.mainContent {
  flex-grow: 1;
}

.donationCartCol {
  max-width: $donation-cart-max-width;
  width: 100%;
  margin: 1rem auto;

  > * + * {
    margin-top: 2rem;
  }
}

.loadingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;

  > * + * {
    margin-left: 1rem;
  }
}

.noItemsMessage {
  margin: 3rem 0;
}

.sectionHeader {
  margin: 3rem 0 2rem;
}

.cartItemsGroup {
  margin-bottom: 2rem;
}

.cartItemsList {
  > * + * {
    margin-top: 1.5rem;
  }
}

.summaryLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;

  > * {
    margin: 0;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    width: 100%;
    border-bottom: 2px solid $donation-cart-summary-line-border-color;
    z-index: -1;
  }

  .summaryLabel {
    display: flex;
    padding-right: 0.5rem;
    background-color: $donation-cart-summary-line-labels-br-color;
  }

  .summaryValue {
    display: flex;
    padding-left: 0.5rem;
    background-color: white;
  }
}

.donationOptions {
  display: grid;
  grid-template-columns: 1fr 4rem 1fr;
  justify-content: center;
  margin-bottom: 2rem;

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr 3rem 1fr;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: unset;
    grid-template-rows: 1fr 3rem 1fr;
  }

  .donationOptionsSeparator {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $donation-cart-donation-option-separator-text-color;

    &::before,
    &::after {
      content: '';
      background-color: $donation-cart-donation-option-delimiter-color;
      margin: 0.5rem 0;
      height: 3rem;
      width: 1px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: row;

      &::before,
      &::after {
        margin: 0 1rem;
        width: 3rem;
        height: 1px;
      }
    }
  }

  .donationOptionButton {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: $donation-cart-donation-option-color;
    background-color: transparent;
    border: 1px solid $donation-cart-donation-option-border-color;
    transition: background-color 150ms ease-out;

    @include media-breakpoint-between(sm, md) {
      padding: 1rem;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;

      > * + * {
        margin-left: 0.5rem;
      }
    }

    .donationOptionGlyph {
      width: auto;
      transition: transform 150ms ease-out;
    }

    &:hover,
    &:focus {
      background-color: $donation-cart-donation-option-hover-bg-color;

      .donationOptionGlyph {
        transform: scale(1.2, 1.2);
      }
    }

    > * {
      width: 100%;
      margin: 0;
    }

    > * + * {
      margin-top: 1rem;
    }
  }
}
