@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.donationDetails {
  max-width: $donation-details-form-max-width;
  width: 100%;
  margin: 1rem auto;

  > * + * {
    margin-top: 1rem;
  }

  .requireDetailsAlert {
    margin-bottom: 3rem;
  }

  .loadingMessage {
    justify-content: center;
    margin: 3rem 0;
  }
}
