@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.mainContent {
  flex-grow: 1;
}

.donationCartCol {
  max-width: $donation-cart-max-width;
  width: 100%;
  margin: 1rem auto;

  > * + * {
    margin-top: 2rem;
  }

  .header {
    text-align: center;
  }
}

.placeholderContainer {
  color: $placeholder-background-color;

  > * + * {
    margin-top: 1.5rem;
  }

  .organizationName {
    width: 20ch;
  }
}

.redirectingMessage {
  justify-content: center;
  margin: 3rem 0;
}

.noItemsMessage {
  margin: 3rem 0;
}

.donationOptionsAlertHeading {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 0.5rem;
  }
}

.donationOptionsAlertList {
  margin: 0;
}
