@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.forNonprofit {
  .highlighted {
    white-space: nowrap;
    text-decoration: underline;
    text-decoration-color: $for-corporate-highlighted-underline-color;
    font-weight: 500;
  }

  .bookDemoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    .bookDemo {
      padding: 0.5rem 2rem;
    }

    @include media-breakpoint-down(md) {
      margin: 1rem 0 0;
    }
  }

  .banner {
    position: relative;
    padding: 3.5rem 1rem 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media-breakpoint-down(lg) {
      padding: 1.5rem 1rem;
    }

    @include media-breakpoint-down(md) {
      padding: 0rem 1rem 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 1rem 1rem 0;
      margin-bottom: 1rem;
    }

    .header {
      font-size: 4rem;
      margin-bottom: 2rem;
      line-height: 1.1;

      @include media-breakpoint-down(xl) {
        font-size: 3rem;
      }

      @include media-breakpoint-down(lg) {
        font-size: 2.2rem;
      }

      @include media-breakpoint-down(md) {
        font-size: 2.5rem;
      }

      @include media-breakpoint-down(sm) {
        padding: 0rem 4rem 0;
        font-size: 1.8rem;
      }
    }

    .image {
      position: absolute;
      z-index: -1;
    }

    .womanLeft {
      $width: 267px;
      $height: 311px;

      width: $width * 0.9;
      height: $height * 0.9;
      top: 0;
      left: 5%;

      @include media-breakpoint-down(xxl) {
        left: 0;
      }

      @include media-breakpoint-down(xl) {
        top: 1rem;
      }

      @include media-breakpoint-down(lg) {
        top: 1rem;
        width: $width * 0.7;
        height: $height * 0.7;
      }

      @include media-breakpoint-down(md) {
        top: 2.5rem;
        left: -10px;
        width: $width * 0.5;
        height: $height * 0.5;
      }

      @include media-breakpoint-down(sm) {
        top: 0;
        left: 0;
        width: $width * 0.32;
        height: $height * 0.32;
      }

      @media (max-width: 390px) {
        top: 2rem;
      }
    }

    .manRight {
      $width: 331px;
      $height: 333px;

      width: $width * 0.9;
      height: $height * 0.9;
      top: 2rem;
      right: 5%;

      @include media-breakpoint-down(xxl) {
        right: 0;
      }

      @include media-breakpoint-down(lg) {
        top: 1rem;
        right: -0.5rem;
        width: $width * 0.7;
        height: $height * 0.7;
      }

      @include media-breakpoint-down(md) {
        top: 3.5rem;
        width: $width * 0.5;
        height: $height * 0.5;
      }

      @include media-breakpoint-down(sm) {
        top: 0;
        right: 0;
        width: $width * 0.32;
        height: $height * 0.32;
      }

      @media (max-width: 390px) {
        top: 2rem;
      }
    }
  }

  .formWrap {
    padding: 1rem;
    border: 1px solid $border-color;
  }

  .benefitsHeader {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: $primary;
  }

  .section {
    max-width: 900px;
    margin: 2rem auto 3rem;

    &.sectionGrey {
      background-color: $secondary-background;
      padding: 2rem;

      .textWrap {
        @include media-breakpoint-down(md) {
          padding: 0;
        }
      }
    }

    .textWrap {
      padding: 1rem;

      @include media-breakpoint-down(md) {
        padding: 0 1rem;
      }
    }

    .sectionHeader {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 1rem;

      &.highlightedHeader {
        color: $primary;
      }

      @include media-breakpoint-down(md) {
        text-align: center;
        font-size: 1.5rem;
      }
    }

    .sectionText {
      font-size: 1.3rem;

      > * + * {
        margin-top: 1rem;
      }

      @include media-breakpoint-down(lg) {
        font-size: 1.1rem;
      }

      @include media-breakpoint-down(md) {
        font-size: 1rem;
        margin-bottom: 2rem;
      }
    }

    .illustrationCol {
      display: flex;
      align-items: center;
      justify-content: center;

      .illustration {
        max-width: 100%;
      }
    }
  }

  .partnersSection {
    padding-top: 1.5rem;
    border: 1px solid $border-color;
  }
}
