@import 'styles/_variables';

.packageRegistration {
  max-width: $package-registration-form-max-width;
  width: 100%;
  margin: 1rem auto 4rem;

  > * + * {
    margin-top: 1rem;
  }

  .loadingMessage {
    display: flex;
    align-items: center;
    margin: 3rem 0;

    > * + * {
      margin-left: 1rem;
    }
  }

  .noItemsMessage {
    margin: 3rem 0;
  }
}
