.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.effectiveFrom {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.shopifyPrivacyPolicy {
  max-width: 550px;
  margin: 0 auto;

  .sectionHeader {
    margin: 2rem 0;
  }
}
