@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.product {
  .photoContainer {
    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }

    .photo {
      width: 100%;
    }
  }

  .details {
    @include media-breakpoint-up(md) {
      padding-left: 2rem;
    }

    > * + * {
      margin-top: 1rem;
    }

    .name {
      margin-bottom: 0;
      word-break: break-word;
    }

    .price {
      font-size: calc(1.25rem + 0.3vw);
      font-weight: 500;
    }

    .requestedAmount {
      font-size: calc(1.25rem + 0.3vw);
    }

    .orderSection {
      margin-top: 2rem;
    }

    .buttonsGroup {
      max-width: 280px;
      display: flex;
      flex-direction: column;

      > * {
        margin-top: 1rem;
      }
    }
  }

  .descriptionContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;

    .description {
      word-break: break-word;
    }
  }
}
