@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.sectionHeader {
  margin: 2rem 0;
}

.benefitsList {
  margin: 2rem 0;
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;

    .checkmark {
      margin-top: 3px;
      flex-shrink: 0;
    }
  }
}

.pricingPlan {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2rem 1rem;
  background-color: $secondary-background;
  margin-bottom: 1rem;
}

.pricingOptionTitle {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;

  text-decoration: underline;
  -webkit-text-decoration-color: $primary;
  text-decoration-color: $primary;
  text-decoration-thickness: 3px;
}

.freePrice {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 700;
  color: $primary;
  text-align: center;
}

.pricingCostWrap {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.25rem 0.5rem;
  grid-template-areas:
    'price priceMonthly'
    'price priceAnnualy';

  .price {
    grid-area: price;
    font-size: 3rem;
    font-weight: 700;
    color: $primary;
  }

  .priceMonthly {
    grid-area: priceMonthly;
    align-self: end;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 700;
    color: $primary;
  }

  .priceAnnualy {
    grid-area: priceAnnualy;
    font-size: 1rem;
    line-height: 1;
  }
}

.pricingFeatures {
  margin: 0;

  > * + * {
    margin-top: 0.5rem;
  }
}

.installButtonWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
  row-gap: 0.5rem;

  .installButton {
    &:hover .arrow {
      transform: translateX(0.25em);
    }

    .arrow {
      transition: transform 0.3s ease-in-out;
    }
  }
}
