@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.notification {
  color: $notification-color;
  word-break: break-word;

  .closeButton {
    margin: auto 0.5rem auto auto;
  }

  @keyframes progress-animation {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

  .progressBar {
    height: 5px;
    overflow: hidden;
    width: 100%;
    animation: progress-animation linear;
    background: rgba(255, 255, 255, 0.35);
  }
}
