@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.donationsList {
  .tbody {
    vertical-align: middle;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 125ms ease-out;

    &.loading {
      opacity: 0.5;

      .row {
        cursor: unset;
      }
    }
  }

  .row {
    cursor: pointer;
  }

  .dateColumn {
  }

  .typeColumn {
    .typeValue {
      display: flex;
      align-items: center;

      > * + * {
        margin-left: 0.25rem;
      }
    }
  }

  .statusColumn {
  }

  .itemsColumn {
    min-width: 200px;

    .productLine {
      display: flex;
      align-items: center;

      > * + * {
        margin-left: 0.25rem;
      }
    }

    .productNameLink {
      display: inline-block;
      color: var(--bs-body-color);
      max-width: 250px;
    }
  }

  .valueColumn {
  }

  .actionsColumn {
    text-align: right;
  }
}
