@import 'bootstrap/scss/functions';

$primary: #00b657;
$border-radius: 0;
$border-radius-sm: 0;
$btn-border-radius-lg: 0;

@import 'bootstrap/scss/variables';

// Base
$font-family-base: Jost, $font-family-sans-serif;
$link-decoration: none;
$link-hover-decoration: underline;
$primary-button-color: $white;

// Global Notification
$global-notification-height: 1.5rem;
$global-notification-background-color: rgb(255, 230, 0);

// Navbar
$navbar-light-toggler-border-color: transparent;
$navbar-padding-y: 0;
$navbar-brand-padding-y: 0;
$navbar-nav-link-padding-x: 0.7rem;
$navbar-light-color: $body-color;
$navbar-light-hover-color: rgba($primary, 1);
$navbar-light-active-color: $navbar-light-hover-color;
$navbar-toggler-focus-width: 0;

// Header
$header-height: calc(
  82px + $global-notification-height
); // used for padding-top of main container, because header has fixed-top
$header-background: var(--bs-body-bg);
$header-border-bottom-color: $border-color;

// Footer
$footer-background: #f4f6f8;

// Error Page
$error-page-status-code-border-color: var(--bs-gray-400);

// Donation Steps
$donation-step-color: $primary;

// Promoted Organizations
$promoted-organizations-border-color: var(--bs-dark);

// Category Selector
$category-selector-subHeader-color: var(--bs-gray-500);
$category-selector-color: var(--bs-body-color);
$category-selector-color-active: $primary;

// Card
$card-bg: $footer-background;
$card-border-width: 0px;

// Product Card
$product-card-image-border-color: var(--bs-dark);
$product-card-image-background-color: var(--bs-body-bg);
$product-card-color: var(--bs-body-color);
$product-card-secondary-color: $text-muted;
$product-card-organization-link-color: $primary;

// Badge
$badge-border-color: var(--bs-dark);

// Modal
$modal-content-border-radius: 0;
$modal-content-border-width: 0;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;

// Instructions Modal
$instructions-modal-blockquote-background-color: var(--bs-gray-100);
$instructions-modal-blockquote-border-color: $border-color;
