@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// Reboot
$link-decoration: none;
$link-hover-decoration: underline;

// Navbar
$navbar-light-toggler-border-color: transparent;
$navbar-padding-y: 0;
$navbar-brand-padding-y: 0;

// Header
$header-height: 73px; // used for padding-top of main container, as header has fixed-top
