@import './_bootstrap';
@import './_variables';
@import './font-family';
@import './nprogress.scss';

html,
body {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-primary {
  &,
  &:hover,
  &:active,
  &:focus,
  &:disabled,
  &.disabled {
    color: $primary-button-color;
  }
}

.btn-outline-primary {
  &:hover,
  &:active {
    color: $white;
  }
}

.modal-dialog {
  word-break: break-word;

  .modal-header {
    padding: 2rem 2rem 0rem;
  }
  .modal-body {
    padding: 2rem;
  }
  .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
