@import './_bootstrap';
@import './_variables';
@import './nprogress.scss';

html,
body {
  height: 100%;
}

#__next,
.jost-font-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-primary {
  &,
  &:hover,
  &:active,
  &:focus,
  &:disabled,
  &.disabled {
    color: $primary-button-color;
  }
}

.btn-outline-primary {
  &:hover,
  &:active {
    color: $white;
  }
}

.modal-dialog {
  word-break: break-word;

  .modal-header {
    padding: 2rem 2rem 0rem;
  }
  .modal-body {
    padding: 2rem;
  }
  .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}

// Fix grey border on images in safari
// See: https://nextjs.org/docs/api-reference/next/image#known-browser-bugs
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}
