@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.weAreHereForYou {
  margin-top: 4rem;
  margin-bottom: 2rem;

  .header {
    @include media-breakpoint-down(sm) {
      font-size: calc(1.125rem + 0.9vw);
    }
  }

  .content {
    max-width: $we-are-here-for-you-text-max-width;

    @include media-breakpoint-up(lg) {
      margin-right: 4rem;
    }
  }

  .supportTeamBtn {
    color: $we-are-here-for-you-support-team-btn-color;
    font-weight: 500;
  }

  .imageContainer {
    $width: 326px;
    $height: 243px;

    position: relative;
    width: $width * 0.7;
    height: $height * 0.7;

    @include media-breakpoint-down(md) {
      width: $width * 0.5;
      height: $height * 0.5;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 2rem;
      width: $width * 0.37;
      height: $height * 0.37;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
