@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.donationDetailsForm {
  margin-bottom: 3rem;

  .header {
    margin-bottom: 2rem;
    text-align: center;
  }

  .sectionHeader {
    margin: 2rem 0;
  }

  .formGroup {
    margin-bottom: 1.5rem;
  }

  .termsOfUseCheckboxCol {
    margin-top: 1rem;
  }

  .confirmDetailsBtn {
    margin: 2rem 0rem 0rem;
    width: 100%;
  }
}
