@import 'bootstrap/scss/mixins';
@import 'styles/_variables.scss';

.header {
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: $header-background;
    border-bottom: 1px solid transparent;
    transition: border-bottom 150ms ease-out;

    &.navbarWithBorder {
      border-bottom: 1px solid $header-border-bottom-color;
    }

    .container {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }

    .navbarBrand {
      position: relative;
      width: 200px;
      height: 28px;
    }

    .navbarCollapse {
      flex-grow: unset;
    }
  }

  .button {
    border: none;
    text-align: left;

    &:hover,
    &:focus {
      color: $navbar-light-hover-color;
    }

    @include media-breakpoint-down(lg) {
      padding: 0.5rem 0;
    }
  }

  .control {
    display: inline-flex;
    align-items: center;
  }

  .controlText {
    margin-left: 0.5rem;
    text-transform: capitalize;

    @include media-breakpoint-up(lg) {
      @include visually-hidden;
    }
  }

  .packageButton {
    position: relative;
  }

  .packageButtonBadge {
    position: absolute;
    top: 0.15em;
    right: 0.55em;
    font-size: 0.6rem;
    padding: 0.35em 0.55em;
    border: 1px solid $header-background;

    @include media-breakpoint-down(lg) {
      right: unset;
      left: 1.4em;
    }
  }
}
