@import 'bootstrap/scss/mixins';
@import 'styles/_variables.scss';

.header {
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: $header-background;
    border-bottom: 1px solid transparent;
    transition: border-bottom 150ms ease-out;

    &.navbarWithBorder {
      border-bottom: 1px solid $header-border-bottom-color;
    }

    .container {
      position: relative;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;

      @include media-breakpoint-down(lg) {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
      }
    }

    .navbarBrand {
      $width: 131px;
      $height: 32px;
      position: absolute;
      width: $width;
      height: $height;
      top: calc(1.2rem + 5px);
      left: var(--bs-gutter-x, 0.75rem);
      opacity: 1;

      @include media-breakpoint-down(lg) {
        top: calc(0.6rem + 10px);
        width: $width * 0.8;
        height: $height * 0.8;
      }
    }

    .controlsBar {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }

    .navbarToggle {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .navbarCollapse {
      flex-grow: unset;
    }

    .navbarCollapsedTopPlaceholder {
      // reserve space, so navbar is correctly animated on toggle
      height: 0.5rem;
      width: 100%;

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    &.withSearchExpanded {
      @media (max-width: 500px) {
        .navbarBrand {
          opacity: 0;
        }

        .controlsBar {
          flex: 1;
        }
      }
    }
  }

  .shortageUaLink {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
  }

  .control {
    display: inline-flex;
    align-items: center;
  }

  .cartButtonCollapsedNav {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .cartButtonExpandedNav {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
