@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.promoBannerWrap {
  width: 100%;
  overflow: hidden;
}

.promoBanner {
  .banner {
    position: relative;
    padding: 3.5rem 1rem 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header {
    margin: 0 3rem 0.5rem;
    font-size: 4rem;
    line-height: 1.1;
    text-transform: capitalize;
    font-weight: 700;

    .highlightedHeader {
      text-decoration: underline;
      text-decoration-color: $promo-banner-highlighted-header-underline-color;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 6rem;
      margin-right: 6rem;
      font-size: 3rem;
    }
  }

  .text {
    margin: 1rem 3rem 3rem;
    font-size: 1rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 2rem;
    }
  }

  .checkGoodsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    line-height: 1.1;

    > * + * {
      margin-left: 0.5rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 1rem;
    }
  }

  .image {
    position: absolute;
    pointer-events: none;
    z-index: -1;
  }

  .glisterLeft {
    $width: 236px;
    $height: 188px;

    width: $width;
    height: $height;
    right: calc(50% + 250px);
    top: calc(3.5rem - 20px);

    @include media-breakpoint-down(lg) {
      right: calc(50% + 120px);
    }

    @include media-breakpoint-down(md) {
      @include visually-hidden;
    }
  }

  .glisterRight {
    $width: 195px;
    $height: 174px;

    width: $width;
    height: $height;
    left: calc(50% + 290px);
    top: calc(3.5rem - 20px);

    @include media-breakpoint-down(lg) {
      left: calc(50% + 150px);
    }

    @include media-breakpoint-down(md) {
      @include visually-hidden;
    }
  }

  .glisterLeftShort {
    $width: 113px;
    $height: 167px;

    width: $width;
    height: $height;
    left: 0;
    top: calc(3.5rem - 10px);

    @include media-breakpoint-up(md) {
      @include visually-hidden;
    }
  }

  .glisterRightShort {
    $width: 93px;
    $height: 163px;

    width: $width;
    height: $height;
    right: 0;
    top: calc(3.5rem - 15px);

    @include media-breakpoint-up(md) {
      @include visually-hidden;
    }
  }
}
