@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.promoBanner {
  display: flex;
  flex-direction: column;
  color: $white;

  .backgroundContainer {
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
    background-image: url('/images/banner_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-down(lg) {
      padding: 2.5rem;
      background-position: 70% bottom;
    }
  }

  .bannerHeader {
    display: flex;
    font-size: 2.8rem;
    align-items: center;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 2rem;

    @include media-breakpoint-down(lg) {
      font-size: 2rem;
    }
  }

  .bannerText {
    margin: 0;
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 2rem;

    p {
      margin-bottom: 0;
    }

    > * + * {
      margin-top: 0.5rem;
    }

    @include media-breakpoint-down(lg) {
      font-size: 1.3rem;
    }
  }
}
