@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $footer-background-color;

  .logo {
    position: relative;
    display: block;
    width: 131px;
    height: 32px;
  }

  .address {
    color: $footer-secondary-text-color;
  }

  .copyrightBlock {
    color: $footer-secondary-text-color;
  }

  .leftColumn {
    > * + * {
      margin-top: 0.5rem;
    }
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    > * + * {
      margin-top: 0.5rem;
    }

    @include media-breakpoint-down(md) {
      margin-top: 0.5rem;
      align-items: flex-start;
    }
  }
}
