@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $footer-background-color;
  color: $footer-secondary-text-color;

  .logo {
    position: relative;
    display: block;
    width: 131px;
    height: 32px;
  }

  .leftColumn {
    > * + * {
      margin-top: 0.5rem;
    }
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    > * + * {
      margin-top: 0.5rem;
    }

    .socialMediaLinks {
      display: flex;
      flex-direction: row;
      margin: 0.5rem 0 0;
      padding: 0;
      list-style: none;

      > * + * {
        margin-left: 1rem;
      }

      :global(a) {
        display: flex;
        opacity: 0.75;
        transition: opacity 150ms ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }

    @include media-breakpoint-down(md) {
      margin-top: 1rem;
      align-items: flex-start;

      .socialMediaLinks {
        margin-top: 0;
      }
    }
  }
}
