@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.packageLogs {
  :global ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .placeholderContainer {
    color: $placeholder-background-color;

    .placeholderDate {
      width: 230px;
    }
  }

  .logValue {
    font-weight: 500;
  }
}
