@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.packageLogs {
  $logTimeWidth: 185px;

  :global ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .placeholderContainer {
    color: $placeholder-background-color;

    .placeholderDate {
      width: $logTimeWidth;
    }
  }

  .logTime {
    display: inline-block;
    min-width: $logTimeWidth;
  }

  .logValue {
    font-weight: 500;
  }
}
