@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.controls {
  margin-bottom: 2rem;

  .paginationCol {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .searchInput {
    max-width: 250px;
  }
}

.productsList {
  > * + * {
    margin-top: 1rem;
  }

  &.loading {
    opacity: 0.5;
  }
}
