@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.donations {
  .paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tbody {
    vertical-align: middle;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 125ms ease-out;

    &.loading {
      opacity: 0.5;

      .row {
        cursor: unset;
      }
    }
  }

  .row {
    cursor: pointer;
  }

  .dateColumn {
  }

  .typeColumn {
    .typeValue {
      display: flex;
      align-items: center;

      > * + * {
        margin-left: 0.25rem;
      }
    }
  }

  .statusColumn {
  }

  .recipientColumn {
    min-width: 150px;
    white-space: normal;

    .recipient {
      word-wrap: break-word;

      .recipientLink {
        color: var(--bs-body-color);
      }
    }
  }

  .actionsColumn {
    text-align: right;
  }
}
