@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.donations {
  .paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tbody {
    vertical-align: middle;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 125ms ease-out;

    &.loading {
      opacity: 0.5;

      .row {
        cursor: unset;
      }
    }
  }

  .row {
    cursor: pointer;
  }

  .dateColumn {
  }

  .typeColumn {
  }

  .statusColumn {
  }

  .recipientColumn {
    max-width: 150px;

    .orgLink {
      margin-top: 4px; // dirty hack to compensate difference in vertical position of inline-block element
      max-width: 100%;
      display: inline-block;
      @include text-truncate();
    }
  }

  .actionsColumn {
    text-align: right;
  }
}
