@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.donations {
  .header {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px; // prevent jumping during initial load
  }

  .paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tbody {
    vertical-align: middle;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 125ms ease-out;

    &.loading {
      opacity: 0.5;

      .row {
        cursor: unset;
      }
    }
  }

  .row {
    cursor: pointer;
  }

  .dateColumn {
  }

  .typeColumn {
  }

  .statusColumn {
  }

  .actionsColumn {
    text-align: right;
  }
}
