@import 'bootstrap/scss/mixins';
@import 'styles/_variables';

.cartItem {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 2rem 1fr;
  gap: 0px 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    'photo name name'
    'photo quantity remove';

  .photo {
    grid-area: photo;
    border: 1px solid $cart-item-photo-border-color;
  }

  .name {
    grid-area: name;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    &.withPrice::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 10px;
      width: 100%;
      height: 1px;
      z-index: -1;
      background-image: linear-gradient(
        to right,
        $cart-item-summary-line-border-color 25%,
        transparent 0%
      );
      background-position: top;
      background-size: 7px 1px;
      background-repeat: repeat-x;
    }
  }

  .quantity {
    grid-area: quantity;
  }

  .remove {
    grid-area: remove;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .photoLink {
    position: relative;
    display: block;
    height: 100%;
  }

  .photoImg {
    object-fit: contain;
  }

  .nameLink {
    color: $cart-item-product-name-link-color;
    font-weight: 600;
    padding-right: 0.5rem;
    margin-right: 1rem;
    background-color: $cart-item-summary-line-labels-br-color;
  }

  .productPrice {
    flex-shrink: 0;
    padding-left: 0.5rem;
    margin-left: 1rem;
    background-color: $cart-item-summary-line-labels-br-color;
  }

  @include media-breakpoint-down(sm) {
    .nameLink {
      padding-right: 0.25rem;
      margin-right: 0.25rem;
    }
    .productPrice {
      padding-left: 0.25rem;
      margin-left: 0.25rem;
    }
  }

  .removeButton {
    width: 100%;
    min-height: 38px; // matches input height
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $cart-item-remove-button-border-color;

    &:hover,
    &:active {
      border-color: $cart-item-remove-button-hover-border-color;
    }

    > * + * {
      margin-left: 0.5rem;
    }
  }

  .removeButtonLabel {
    @include media-breakpoint-down(sm) {
      @include visually-hidden;
    }
  }
}
